/.idea/
/api/target/
/biz/target/
/dal/target/
/out/artifacts/
/sal/target/
/web/target/
/**/target/
/commondata-service-parent.iml
/web/medicalorder-service-web.iml
/sal/medicalorder-service-sal.iml
/dal/medicalorder-service-dal.iml
/biz/medicalorder-service-biz.iml
/api/medicalorder-service-api.iml

.flattened-pom.xml
/web/logs/
/ohs/logs/
/**/*.iml

/**/application.properties
#eclipse
**/.settings/
**/.classpath
**/.project
/logs/
/target/site/
